body {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    margin: 0px !important;
    height: 100%;
    width: 100%;
}

.wrapper {
 overflow-x: hidden;   
}

.about-content {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.about-content::selection {
    background: #F44336;
    color: white;
  }
  
  .about-content::-moz-selection {
    background: #F44336;
    color: white;
  }

a {
    color: white;
    text-decoration: none;
}
