body {
    
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    margin: 0px !important;
    height: 100%;
    width: 100%;
}

.about-content {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: white;
    text-decoration: none;
}